<main>
  <header id="header">
    <div id="header-top">
      <div id="header-top-title">
        {{#if @root.logoSrc}}
        <img id="header-logo" src="{{@root.logoSrc}}" alt="CHI Global Network logo" />
        {{/if}}
        <div id="header-top-text">
          <h1>Invoice</h1>
          <h2>Dr's Secret</h2>
        </div>
      </div>
      <div id="header-top-number">Invoice #{{invoice.id}}</div>
    </div>
    <div id="header-info">
      <div>
        <div class="value-display">
          <div class="label">DATE</div>
          <div class="value">{{invoice.date}}</div>
        </div>

        <div class="value-display invoice-to">
          <div class="label">INVOICE TO</div>
          <div class="value">{{invoice.recipient}}</div>
        </div>
      </div>
    </div>
  </header>
  {{#if invoice.hasIdDeliveries }}
  <article class="dr-section">
    <header class="dr-section__header dr-section__header--right">
      Indonesia
    </header>
    {{#each invoice.DrIdDeliveries}}
    <article class="delivery">
      <header>
        <div><span>DELIVERY #</span><span>{{this.id}}</span></div>
        <div><span>RECIPIENT</span><span>{{this.customerFullName}}</span></div>
        <div><span>DATE</span><span>{{this.date}}</span></div>
      </header>
      <table>
        <thead>
          <tr>
            <th>Item</th>
            <th>BV</th>
            <th>Price (Rp)</th>
            <th>Qty</th>
            <th>Total BV</th>
            <th>Total Price (Rp)</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.DrIdDeliveryDetails}}
          {{#if this.isCharged}}
          <tr>
            <td>{{this.DrIdItem.name}}</td>
            <td>{{this.points}}</td>
            <td>{{formatRP this.priceRP}}</td>
            <td>{{this.qty}}</td>
            <td>{{this.totalCountedPoints}}</td>
            <td>{{formatRP this.totalCountedPriceRP}}</td>
          </tr>
          {{/if}}
          {{/each}}
        </tbody>
        <tfoot>
          <tr>
            <th scope="row" colspan="4">Subtotal</th>
            <td>{{this.subtotalPoints}}</td>
            <td>{{formatRP this.subtotalPriceRP}}</td>
          </tr>
          <tr>
            <th scope="row" colspan="4">Delivery</th>
            <td colspan="2">{{formatRP this.cost}}</td>
          </tr>
          <tr class="table__result">
            <th scope="row" colspan="4">Total</th>
            <td colspan="2">{{formatRP this.totalPriceRP}}</td>
          </tr>
        </tfoot>
      </table>
    </article>
    {{/each}}
  </article>
  {{/if}}

  {{#if invoice.hasSgDeliveries}}
  <article class="dr-section">
    <header class="dr-section__header dr-section__header--left">
      Singapore
    </header>
    {{#each invoice.DrSgDeliveries}}
    <article class="delivery">
      <header>
        <div><span>DELIVERY #</span><span>{{this.id}}</span></div>
        <div><span class="recipient-label">RECIPIENT</span><span class="recipient">{{this.customerFullName}}</span></div>
        <div><span>DATE</span><span>{{this.date}}</span></div>
      </header>

      <table>
        <thead>
          <tr>
            <th>Item</th>
            <th>BV</th>
            <th>Weight</th>
            {{#if this.isDeliveryCostIndividual }}<th>Delivery Cost</th>{{/if}}
            <th>Price (SGD)</th>
            <th class="center">Qty</th>
            <th>Total BV</th>
            <th>Total Weight</th>
            {{#if this.isDeliveryCostIndividual }}<th>Total Delivery</th>{{/if}}
            <th>Total Price (SGD)</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.DrSgDeliveryDetails}}
          <tr>
            <td>{{this.DrSgItem.name}}</td>
            <td>{{this.points}}</td>
            <td>{{parseFloat this.weight}} gr</td>
            {{#if ../this.isDeliveryCostIndividual }}<td>{{formatRP this.deliveryCost}}</td>{{/if}}
            <td>{{formatSGD this.priceSGD}}</td>
            <td class="center">{{this.qty}}</td>
            <td>{{this.totalPoints}}</td>
            <td>{{this.totalWeight}} gr</td>
            {{#if ../this.isDeliveryCostIndividual }}<td>{{formatRP this.totalDeliveryCost}}</td>{{/if}}
            <td>{{formatSGD this.totalPriceSGD}}</td>
          </tr>
          {{/each}}
        </tbody>
        <tfoot>
          <tr>
            <th class="left">Kurs</th>
            <td>{{formatRP this.exchangeRate}}</td>
            {{#if this.isDeliveryCostIndividual }}
            <th scope="row" colspan="4">Subtotal</th>
            {{else}}
            <th scope="row" colspan="3">Subtotal</th>
            {{/if}}
            <td>{{this.subtotalPoints}}</td>
            <td>{{this.subtotalWeight}}</td>
            {{#if this.isDeliveryCostIndividual }}<td>{{formatRP this.totalDeliveryCost}}</td>{{/if}}
            <td>{{formatSGD this.subtotalPriceSGD}}</td>
          </tr>
          <tr>
            {{#if this.isDeliveryCostIndividual }}
            <th scope="row" colspan="7">Subtotal (RP)</th>
            {{else}}
            <th scope="row" colspan="6">Subtotal (RP)</th>
            {{/if}}
            <td colspan="5">{{formatRP this.subtotalPriceRPAndDeliveryCost}}</td>
          </tr>
          <tr>
            {{#if this.isDeliveryCostIndividual }}
            <th scope="row" colspan="7">Delivery</th>
            {{else}}
            <th scope="row" colspan="6">Delivery</th>
            {{/if}}
            <td colspan="5">{{formatRP this.cost}}</td>
          </tr>
          <tr class="table__result">
            {{#if this.isDeliveryCostIndividual }}
            <th scope="row" colspan="7">Total</th>
            {{else}}
            <th scope="row" colspan="6">Total</th>
            {{/if}}
            <td colspan="5">{{formatRP this.totalPriceRP}}</td>
          </tr>
        </tfoot>
      </table>
    </article>
    {{/each}}
  </article>
  {{/if}}

  {{#if invoice.hasMyDeliveries}}
  <article class="dr-section">
    <header class="dr-section__header dr-section__header--right">
      Malaysia
    </header>
    {{#each invoice.DrMyDeliveries}}
    <article class="delivery">
      <header>
        <div><span>DELIVERY #</span><span>{{this.id}}</span></div>
        <div><span>RECIPIENT</span><span>{{this.customerFullName}}</span></div>
        <div><span>DATE</span><span>{{this.date}}</span></div>
      </header>
      <table>
        <thead>
          <tr>
            <th>Item</th>
            <th>BV</th>
            {{#if this.isDeliveryCostIndividual }}<th>Delivery Cost</th>{{/if}}
            <th>Price (RM)</th>
            <th class="center">Qty</th>
            <th>Total BV</th>
            {{#if this.isDeliveryCostIndividual }}<th>Total Delivery</th>{{/if}}
            <th>Total Price (RM)</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.DrMyDeliveryDetails}}
          <tr>
            <td>{{this.DrMyItem.name}}</td>
            <td>{{this.points}}</td>
            {{#if ../this.isDeliveryCostIndividual }}<td>{{formatRP this.deliveryCost}}</td>{{/if}}
            <td>{{formatRM this.priceRM}}</td>
            <td class="center">{{this.qty}}</td>
            <td>{{this.totalPoints}}</td>
            {{#if ../this.isDeliveryCostIndividual }}<td>{{formatRP this.totalDeliveryCost}}</td>{{/if}}
            <td>{{formatRM this.totalPriceRM}}</td>
          </tr>
          {{/each}}
        </tbody>
        <tfoot>
          <tr>
            <th class="left">Kurs</th>
            <td>{{formatRP this.exchangeRate}}</td>
            {{#if this.isDeliveryCostIndividual }}
            <th scope="row" colspan="3">Subtotal</th>
            {{else}}
            <th scope="row" colspan="2">Subtotal</th>
            {{/if}}
            <td>{{this.subtotalPoints}}</td>
            {{#if this.isDeliveryCostIndividual }}<td>{{formatRP this.totalDeliveryCost}}</td>{{/if}}
            <td>{{formatRM this.subtotalPriceRM}}</td>
          </tr>
          <tr>
            {{#if this.isDeliveryCostIndividual }}
            <th scope="row" colspan="5">Subtotal (RP)</th>
            {{else}}
            <th scope="row" colspan="4">Subtotal (RP)</th>
            {{/if}}
            <td colspan="3">{{formatRP this.subtotalPriceRPAndDeliveryCost}}</td>
          </tr>
          <tr>
            {{#if this.isDeliveryCostIndividual }}
            <th scope="row" colspan="5">Delivery</th>
            {{else}}
            <th scope="row" colspan="4">Delivery</th>
            {{/if}}
            <td colspan="3">{{formatRP this.cost}}</td>
          </tr>
          <tr class="table__result">
            {{#if this.isDeliveryCostIndividual }}
            <th scope="row" colspan="5">Total</th>
            {{else}}
            <th scope="row" colspan="4">Total</th>
            {{/if}}
            <td colspan="3">{{formatRP this.totalPriceRP}}</td>
          </tr>
        </tfoot>
      </table>
    </article>
    {{/each}}
  </article>
  {{/if}}

  {{#if invoice.hasHemat }}
  <article id="hemat">
    <header id="hemat__header">Hemat</header>
    <article class="delivery">
      <table>
        <thead>
          <tr>
            <th>Item</th>
            <th>Qty</th>
            <th>Total Hemat (Rp)</th>
          </tr>
        </thead>
        <tbody>
          {{#each invoice.DrIdDeliveries}}
          {{#each this.DrIdDeliveryDetails}}
          {{#if this.free}}
          <tr>
            <td>{{this.DrIdItem.name}}</td>
            <td>{{this.qty}}</td>
            <td>{{formatRP this.totalPriceRP}}</td>
          </tr>
          {{/if}}
          {{/each}}
          {{/each}}
        </tbody>
      </table>
    </article>
  </article>
  {{/if}}

  <footer>
    {{#if invoice.DrDiscountModelId}}
    <article id="discount-details">
      <div id="point-total">
        <div>Total Points</div>
        <div>{{invoice.totalPoints}}</div>
      </div>
      <div id="discount-total">
        <div>Total Cashback</div>
        <div>{{formatRP invoice.totalDiscount}}</div>
      </div>
    </article>
    {{/if}}

    <article id="grand-total">
      <div>AMOUNT DUE</div>
      <div>{{formatRP invoice.totalPriceRP}}</div>
    </article>
    <div id="payment-info">BCA: 035 0889191 (F.M. Fenty Effendy)</div>
  </footer>
</main>

