<html>
  <head>
    <meta charset="utf-8" />
    <title>A simple, clean, and responsive HTML invoice template</title>
    {{> reset}}
    {{> invoiceStyle}}

  </head>

  <body>
   <main>
      <header id="header">
        <div id="header-top">
          <div id="header-top-title">
            <h1>Invoice</h1>
            <h2>Dr's Secret</h2>
          </div>
          <div id="header-top-number">Invoice #{{invoice.id}}</div>
        </div>
        <div id="header-info">
          <div>
            <div class="value-display">
              <div class="label">DATE</div>
              <div class="value">{{invoice.date}}</div>
            </div>

            <div class="value-display">
              <div class="label">INVOICED TO</div>
              <div class="value">{{invoice.recipient}}</div>
            </div>
          </div>
          <div>
            <div class="value-display">
              <div class="label">PEMBAYARAN</div>
              <div class="value">BCA: 035 0889191 (F.M. Fenty Effendy)</div>
            </div>
          </div>
        </div>
      </header>
      {{#if invoice.hasIdDeliveries }}
      <article class="dr-section">
        <header class="dr-section__header dr-section__header--right">
          Indonesia
        </header>
        {{#each invoice.DrIdDeliveries}}
        <article class="delivery">
          <header>
            <div><span>DELIVERY #</span><span>{{this.id}}</span></div>
            <div><span>RECIPIENT</span><span>{{this.customerFullName}}</span></div>
            <div><span>DATE</span><span>{{this.date}}</span></div>
          </header>
          <table>
            <thead>
              <tr>
                <th>Item</th>
                <th>Points</th>
                <th>Price (Rp)</th>
                <th>Qty</th>
                <th>Total Points</th>
                <th>Total Price (Rp)</th>
              </tr>
            </thead>
            <tbody>
              {{#each this.DrIdDeliveryDetails}}
              <tr>
                <td>{{this.DrIdItem.name}}</td>
                <td>{{this.points}}</td>
                <td>{{formatRP this.priceRP}}</td>
                <td>{{this.qty}}</td>
                <td>{{this.totalPoints}}</td>
                <td>{{formatRP this.totalPriceRP}}</td>
              </tr>
              {{/each}}
              
            </tbody>
            <tfoot>
              <tr>
                <th scope="row" colspan="4">Subtotal</th>
                <td>{{this.subtotalPoints}}</td>
                <td>{{formatRP this.subtotalPriceRP}}</td>
              </tr>
              <tr>
                <th scope="row" colspan="4">Discount</th>
                <td colspan="2">{{formatRP this.totalDiscount}}</td>
              </tr>
              <tr>
                <th scope="row" colspan="4">Delivery</th>
                <td colspan="2">{{formatRP this.cost}}</td>
              </tr>
              <tr class="table__result">
                <th scope="row" colspan="4">Total</th>
                <td colspan="2">{{formatRP this.totalPriceRP}}</td>
              </tr>
            </tfoot>
          </table>
        </article>
        {{/each}}
      </article>
      {{/if}}

      {{#if invoice.hasSgDeliveries}}
      <article class="dr-section">
        <header class="dr-section__header dr-section__header--left">
          Singapore
        </header>
        {{#each invoice.DrSgDeliveries}}
        <article class="delivery">
          <header>
            <div><span>DELIVERY #</span><span>{{this.id}}</span></div>
            <div><span>RECIPIENT</span><span>{{this.customerFullName}}</span></div>
            <div><span>DATE</span><span>{{this.date}}</span></div>
          </header>

          <table>
            <thead>
              <tr>
                <th>Item</th>
                <th>Points</th>
                <th>Delivery Cost</th>
                <th>Price (SGD)</th>
                <th class="center">Qty</th>
                <th>Total Points</th>
                <th>Total Delivery</th>
                <th>Total Price (SGD)</th>
              </tr>
            </thead>
            <tbody>

              {{#each this.DrSgDeliveryDetails}}
              <tr>
                <td>{{this.DrSgItem.name}}</td>
                <td>{{this.points}}</td>
                <td>{{this.deliveryCost}}</td>
                <td>{{formatSGD this.priceSGD}}</td>
                <td class="center">{{this.qty}}</td>
                <td>{{this.totalPoints}}</td>
                <td>{{formatRP this.totalDeliveryCost}}</td>
                <td>{{formatSGD this.totalPriceSGD}}</td>
              </tr>
              {{/each}}
            </tbody>
            <tfoot>
              <tr>
                <th scope="row" colspan="5">Subtotal</th>
                <td>{{this.subtotalPoints}}</td>
                <td>{{formatRP this.totalDeliveryCost}}</td>
                <td>{{formatSGD this.subtotalPriceSGD}}</td>
              </tr>
              <tr>
                <th scope="row" colspan="5">Discount</th>
                <td colspan="3">{{formatRP this.totalDiscount}}</td>
              </tr>
              <tr>
                <th scope="row" colspan="5">Delivery</th>
                <td colspan="3">{{formatRP this.cost}}</td>
              </tr>
              <tr class="table__result">
                <th scope="row" colspan="5">Total</th>
                <td colspan="3">{{formatRP this.totalPriceRP}}</td>
              </tr>
            </tfoot>
          </table>
        </article>

        {{/each}}
      </article>
      {{/if}}
      <article id="grand-total">
        <div>AMOUNT DUE</div>
        <div>{{formatRP invoice.totalPriceRP}}</div>
      </article>
    </main>
  </body>
</html>